.App {
  background-color: var(--background-color);
}

/* App.css */
.App {
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 100vh;
  justify-content: space-between;
}

.name {
  grid-column: 1 / 3;
  grid-row: 2 / 3;
  padding-bottom: 700px;
}

/* nav */

.navbar {
  grid-column: 1 / 3;
}


/* about */

.about-content {
  padding: 0 500px 500px 500px;
}

/* projects */

.project-card img {
  height: 120px;
  width: 120px;
}

.project-card {
  border: solid 1px black;
  margin-top: 50px;
  width: 70%;
}


:root {
  --primary-color: #ffa15e; /* Moonrise Kingdom orange */
  --secondary-color: #5a9b88; /* Moonrise Kingdom green */
  --background-color: #f4e4cd; /* Creamy background */
  --nav-footer-height: 80px; /* Common height for nav and footer */
}


